*{
  margin: 0;
  padding: 0;
}
.top_heading{
  padding: 5px;
  display: flex;
  background-color: aqua;
}
.img1{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 img{
  width:40%;
}
.top_contact{
  display: flex;
  flex-direction: column;
  width: 25%;
  font-size: small;
  align-items: left;
  justify-content: center;

}
.img2{
  width: 15%;
  justify-content: center;
}
.img2 img{
  width: 50px;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}
ul li a{
  text-decoration: none;
  color: black;

}
/* navigation */
.navigation{
display: flex;
justify-content: space-between;
background-color: #ffd666;
padding: 10px;
}

