.main_division_of_header {
  background-color: rgb(179, 179, 78);
}
.navigation {
  background-color: bisque;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navigation_links {
  display: flex;
  padding: 5px;
  justify-content: center;
}
.image_of_logo {
  padding: 5px;
}

.navigation_links:hover {
  background-color: antiquewhite;
}
@media only screen and (min-width: 600px) {
  .image_of_logo {
    width: 100vh;
  }
}
