.main_division_of_header{
    background-color: rgb(179, 179, 78);
}
.navigation{
    padding: 5px;
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.navigation_links{
    display: flex;
    justify-content: center;
}
.image_of_logo{
    padding: 5px;
}